:root {
    --blue: #d4fffb; 
    --neutral: #e0cbec;
    --correct: #d7eccb;
    --incorrect: #eccfcb;
}

* {
    background-color: rgb(243, 231, 233);
}

/* homepage */
.home-container {
    margin-top: 70px;
}

h1 {
    color: var(--blue);
    font-size: 60px;
    text-align: center;
}

p {
    color: white;
    font-size: 40px;
    text-align: center;
}

.p2 {
    margin: 10px;
    color: white;
    font-size: 20px;
    text-align: center;
}

.start-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.start-btn {
    background-color: var(--neutral);
    border-radius: 100px;
    color: var(--blue);
    padding: 7px 20px;
    text-decoration: none;
    border: 0;
    font-weight: bold;
}

/* timer */
.time {
    color: var(--blue);
    font-size: 18px;
    font-weight: bold;
    margin-right: 15px;
    margin-top: 20px;
}

/* quiz */
.question-container {
    margin: 20px;
    text-align: center;
    justify-content: center;
}

h2 {
    color: var(--blue);
    font-size: 30px;
    text-align: center;
}
